* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}
/* banner section */
.banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Banner\ Image.png");
  border-radius: 16px;

  width: 1320px;
  height: 600px;
  margin: 50px auto;
  padding-top: 137px;
}
.banner h3 {
  color: #fff;
  text-align: center;
  font-family: "Merriweather";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.banner h1 {
  color: #fff;
  text-align: center;
  font-family: "Merriweather";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 65px; /* 131.944% */
}
/* banner ends */

/* offert part start */
.discouont {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: none;
}

h4 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 2px;
  margin-bottom: none;
}
.catagories {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 5px;
}
.happaynew {
  align-items: center;
  text-align: center;
}

/* offert part ends*/

/* welcome to party */
.welcomeparty {
  display: flex;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Vectorrr.png");
  width: 1320px;
  height: 600px;
  margin: 80px auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.leftside {
  width: 642px;
}
.rightside {
  margin-left: 100px;
}

.leftside h1 {
  color: #fff;
  font-family: "Merriweather";
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}
.leftside p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.leftside button {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: #d2a813;
  background-image: linear-gradient(305deg, #665104 0%, #000000 74%);
  transition: all ease-in 0.2s;
}

.leftside button:hover {
  transform: scale(1.2);
  border: grey 1px solid;
}
/* welcome to ends */
/* place start */
.place {
  width: 1320px;
  height: 600px;
  margin: 80px auto;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding-top: 50px;
  text-align: center;
}
.place h2 {
  text-align: center;
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.place h2 span {
  color: #f00;
}
.place button {
  text-align: center;
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  color: #fff;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  transition: all ease 0.2s;
  cursor: pointer;
}

.place button:hover {
  border: 1px solid #fff;
  transform: scale(1.1);
}
/* place ends */

/* eclips starts */
.eclips {
  display: flex;
  height: 735px;
  width: 1320px;
  margin: 40px auto;
  justify-content: space-evenly;
  gap: 100px;
  align-items: center;
}

.eclipsImage img {
  padding: 30px;
  border-radius: 50%;
  border: #f00 20px solid;
}
/* eclips ends */

.hallways {
  align-items: center;
  text-align: center;
  width: 1320px;
  margin: 20px auto;
}
.hallways p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
}
.hallways .function {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hallways .holidayTitle {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.holidayTitle span {
  color: #f00;
  text-align: center;
  font-family: "Merriweather";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.underHolidays {
  height: 670px;
  background-image: url("resources/Rectangle 2.png");
  background-repeat: no-repeat;
  max-width: 1320px;
  margin: 20px auto;
  background-position: bottom;
  display: flex;
  position: relative;
}
.women {
  margin: 0;
  padding: 0;
  height: 100%;
  margin-top: 8px;
}
.abosolute {
  position: absolute;
  width: 280px;
  height: 280px;
  transform: rotate(-34.212deg);
  transform: translateX(700px) translateY(100px);
}
/* holidays ends*/

/* portfolio poart srts */
.portfolio {
  max-width: 1320px;
  margin: 80px auto;
}
.portfolio h1 {
  color: #070211;
  font-family: "Merriweather";
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  line-height: 5px;
}
.portfolio h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.portfolio p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
/* portfolio poart ends */

.subscribe {
  width: 1320px;
  height: 616px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  max-width: 1320px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe img {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.subscribe h1 {
  color: #070211;
  text-align: center;
  font-family: "Merriweather";
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  line-height: 5px;
}
.subscribe p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  padding: 0px 150px;
}
.input {
  height: 72px;
  align-items: center;
  text-align: center;
}
.subscribe input[type="email"] {
  border: none;
  width: calc(648px - 240px);
  border-radius: 50px 0px 0px 50px;
  color: rgba(7, 2, 17, 0.3);
  padding: 24px 56px;
  font-size: 20px;
  font-weight: 400;
  outline: #f00;
}

.subscribe input[type="submit"] {
  border-radius: 0px 50px 50px 0px;
  background: rgb(185, 64, 64);
  padding: 24px 56px;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.subscribe input[type="submit"]:hover {
  background: #f00;
}
/* foter */
footer {
  height: 609px;
  background: #070211;
  padding: 120px calc(1600px - 1320px);
}
footer h1 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}
footer .contact h3 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}

.foter1 {
  display: flex;
  justify-content: space-between;
}
hr {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.icons {
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.foter1 button {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: transparent;
  cursor: pointer;
  transition: all ease-in 0.3s;
  border: none;
}
.foter1 button:hover {
  border: 1px solid #fff;
  transform: scale(1.2);
}
